@import '../../assets/styles/global.styles.scss';

.navbar-links {
  height: 100%;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  .navbar-link {
    color: $text-color;
    text-decoration: none;
  }

  @media (max-width: 1000px) {
    font-size: 15px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $text-secondary-color;
    font-weight: 600;
    align-items: start;
    padding: 20px 0 0 45px;

    .navbar-link {
      color: black;
      text-decoration: none;
      fill: $text-secondary-color;
      stroke: $text-secondary-color;
      
      .search-icon {
        fill: $text-secondary-color;
        stroke: $text-secondary-color;
      }
    }

  }

  .search-icon {
    height: 16px;
    width: 16px;
    stroke: $text-color;
    fill: $text-color;
    vertical-align: middle;
    padding-right: 5px;
    stroke-width: 3;
  }

  .navbar-link:hover {
    color: $main-color;
    cursor: pointer;

    .search-icon {
      stroke: $main-color;
      fill: $main-color;
    }
  }
}