@import '../../assets/styles/global.styles.scss';

.login-btn {
  font-size: 16px;
  color: $text-color;
  border: $main-color;
  border-style: solid;
  padding: 6px 20px 6px 20px;
  border-width: 2px;
  border-radius: 10px;
  font-weight: 500;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  
  .login-icon {
    vertical-align: bottom;
    padding-right: 15px;
    fill: $text-color;
    stroke: none;
  }
}

.login-btn:hover {
  background-color: $main-color;
  color: $base-color;
  text-shadow: 0px 0px 2px $base-color;
  cursor: pointer;

  .login-icon {
    fill: $base-color;
    stroke: $base-color;
  }
}