@import '../../assets/styles/global.styles.scss';

.nav-dropdown {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  padding: 0px;

  .nav-dropdown-header {
    display: flex;
    height: 45px;
    width: 100%;
    padding: 7px 0px 7px 0px;
    background-color: $base-color;

    .nav-dropdown-close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 15px;
      left: 10px;
      fill: $red-color;
      stroke: $red-color;
      cursor: pointer;
    }

    .nav-dropdown-logo {
      position: relative;
      margin: auto;
    }
  }
  .login-button {
    padding: 20px;
    background-color: black;
  }
}