.embla {
    width: 100%;
    margin: auto;
    max-width: 1400px;
    overflow: hidden;
  }
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    flex: 0 0 100%;
}
.embla__prev {
    display: none;
}
.embla__next {
    display: none;
}