header {
  nav {
    padding: 20px;
    max-width: 1400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
    .navbar-logo-container {
      width: 25%;
      height: 80px;
      
      .navbar-logo {
        height: 80px;
        width: 220px;
        padding-left: 15px;
      }
    }

    .navbar-options {
      height: 80px;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .navbar-actions {
        height: 100%;
        width: 95%;
        display: flex;
        margin-left: auto;
        justify-content: space-between;
        align-items: center;

        .login-btn {
          color: white;
          border: #FFD200;
          border-style: solid;
          padding: 5px 10px 5px 10px;
          border-width: 2px;
          border-radius: 10px;
          font-weight: 500;
          
          .login-icon {
            vertical-align: bottom;
            padding-right: 15px;
            fill: white;
            stroke: none;
          }
        }

        .login-btn:hover {
          background-color: #FFD200;
          color: #122562;
          text-shadow: 0px 0px 2px #122562;

          .login-icon {
            fill: #122562;
            stroke: #122562;
          }
        }
      }

      .navbar-links {
        height: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;

        .search-icon {
          height: 16px;
          width: 16px;
          stroke: white;
          fill: white;
          vertical-align: bottom;
          stroke-width: 3;
        }
      }
    }
  }
}