header {
  nav {
    padding: 20px;
    max-width: 1400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
    .navbar-logo-container {
      width: 25%;
      height: 80px;
      
      .navbar-logo {
        height: 80px;
        width: 220px;
        padding-left: 15px;
      }
    }

    .navbar-options {
      height: 80px;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .navbar-actions {
        height: 100%;
        width: 95%;
        display: flex;
        margin-left: auto;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}